@{
    Layout = null;
}
<div class="optionShow">
    <div class="optionShow-title">Display options</div>
    <div class="item-option">
        <div class="title-item-option">Khách sạn:</div>
        <div class="content-item-option">@Html.DropDownList("ListHotel")</div>
    </div>
</div>

