@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}
<div id="border-top" class="h_blue">
    <span class="logo"><a href="#" target="_blank">
        </a></span>
    <span class="title"><a href="@Url.Action("Index", "ControlPanel")"></a></span>
</div>
