<div class="widget-area">
    <ul>
        <li id="text-3" class="widget-container widget_text">
            @Html.Partial("ModeBooking/checkAvailabilityTypeOne")
        </li>
    </ul>
</div>
@Html.Partial("Comment/Advertising")