/*==================================================================================================*/
@media screen and (min-width: 1279px){

	.banner:hover .info{
	    background-image: url("../../images/icon_arrow_left.svg");
	     -ms-transform: translate(0px, 0px); /* IE 9 */
	    -webkit-transform: translate(585px, 0px); /* Safari */
	    transform: translate(585px, 0px);
	    -ms-transform: translate(585px, 0px); /* IE 9 */
	}

	.banner:hover .info .col1{
	  opacity:0;
	  visibility:hidden;
	}

	.banner .info:hover{
	  background-image:none !important;
	   -webkit-transform: translate(0px, 0px) !important;
	   transform: translate(0px, 0px) !important;
	   -ms-transform: translate(0px, 0px) !important;
	}

	.banner .info:hover:after{
	   -webkit-transform: translate(0px, 0px) !important;
	    margin-left: -130px !important;
	}

	.banner .info:hover .col2,
	.banner .info:hover .col1{
	  opacity:1 !important;
	  visibility:visible !important;
	}

	


}/* end @media screen and (max-width: 768px)*/

