@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Offer";
}

<section class="offer" style="background: rgba(132, 159, 246, 0.15)">
    <div class="container">
        <div class="text-offer">
            <p>
                A sanctuary for the senses, D'LIORO Spa features a comfortable lounge area and three private
                treatment rooms for sessions of personal rejuvenation. Champaka Spa offers a detailed menu of
                nurturing body and beauty rituals based on Bali’s timeless healing heritage.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="all-offer wow slideInLeft">
                    <img src="~/Content/images/allsl3.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 wow slideInRight">
                <div style="font-size: 15px; padding-top: 40px;">
                    <h1>Thông tin Offer</h1>
                    <p>
                        A sanctuary for the senses, D'LIORO Spa features a comfortable lounge area and three private
                        treatment rooms for sessions of personal rejuvenation
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-6  wow slideInRight">
                <div style="font-size: 15px; padding-top: 40px; text-align: right">
                    <h1>Thông tin Offer</h1>
                    <p>
                        A sanctuary for the senses, D'LIORO Spa features a comfortable lounge area and three private
                        treatment rooms for sessions of personal rejuvenation
                    </p>
                </div>
            </div>
            <div class="col-md-6">
               
                <div class="all-offer wow slideInLeft">
                    <img src="~/Content/images/allsl3.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .offer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-offer p {
        text-align: center;
        font-size: 20px;
        padding-bottom: 40px;
    }
</style>
