@using ProjectLibrary.Database
@using TeamplateHotel.Handler
@model TeamplateHotel.Models.DetailArticle
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}
@Html.Partial("Menu/MainMenus")
@Html.Partial("Slider/Slider")
<section class="breadcrumb-area overlay-dark-2 bg-5" style="color:#926767">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <p style="font-size:60px">Messages</p>
                    <ul>
                        <li><a href="/">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Home")</a></li>
                        @*<li>Messages</li>*@
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="container posts">
    <div class="row">
        <div class="col-md-12">
            @*<h1 class="aic-titel">Messages</h1>*@
            <p style="text-align:justify">@Html.Raw(ViewBag.Messages)</p>            
        </div>
    </div>
</div>
             
                                               
